<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.info.androidwidgets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidWidgets">
        <activity android:name=".SpinnerKullanimi.SpinnerKullanimi"/>
        <activity android:name=".TimeveDatePicker.TimeveDatePicker" />
        <activity android:name=".ScrollViewKullanimi.ScrollViewKullanimi" />
        <activity android:name=".VideoViewKullanimi.VideoViewKullanimi" />
        <activity android:name=".ImageViewKullanimi.ImageViewKullanimi" />
        <activity android:name=".WebView.WebViewKullanimi" />
        <activity android:name=".ProgressBarSliderveRatingBar.ProgressBarSliderveRatingBar" />
        <activity android:name=".RadioButtonveCheckBox.RadioButtonVeCheckBoxIkinciSayfa" />
        <activity android:name=".RadioButtonveCheckBox.RadioButtonVeCheckBox" />
        <activity android:name=".ToggleButtonveSwitch.ToggleButtonveSwitch" />
        <activity android:name=".ButonTextViewEditText.ButonTextViewEditText" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>